@CHARSET "UTF-8";

* {
 outline: none;
 border: none;
 border-width: 0px;
}

root { 
    display: block;
}

a {
  color : #5C352C;  
}

body {
    font: 15px Tahoma;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}


h1 {
  font-size : 18px;
  color: #5C352C;
  font-weight: 700;
}

h2 {
  font-size : 18px;
  color: #5C352C;
  font-weight: 700;
  margin-bottom: 13px;
}

h3 {
  font-size :14px;
  color: #5C352C;
  font-weight: bold;
  margin-bottom: 13px;
}

hr {
  width: 100%;
}

@font-face {
  font-family: 'coptic';
  src: url('https://mirchar.ru/cnt/files/DSCOPTI0.eot');
  src: url('https://mirchar.ru/cnt/files/DSCOPTI0.eot?#iefix') format('embedded-opentype'),
   local('coptic'), url('https://mirchar.ru/cnt/files/dscoptic.ttf') format('truetype');
}

.coptic-font {
    font-family: coptic, Arial;
    font-size: 15px;
    font-weight: bold;
}

/*  ------------------- misc  ------------------- */

.menu{
  background-color : #ffffcc;
}

.menutext{
  font-family : Arial;
  font-size :14 ;
  color : black;
}

.menulink{
  font-family : Arial;
  font-size :14 ;
  color : black;
  text-decoration: none;
  link: black; 
  vlink: black; 
  alink: black; 
}

.header{
  margin-left: 300px;
}

.biglabel{
   font-family: Tahoma;
   font-size : 20;
   font-weight: bold;
   text-align : left;
   font-color: #2E1818;
}

.data{
   font-family: Tahoma;
   font-size : 12;
   text-align : left;
   font-color: #2E1818;
}


/*  ------------------- BorderedPanel  ------------------- */
  
.gwt-BorderedPanel2 {
  /*background: #F9F0EC;*/
    /*padding: 17px;*/
  border-style: solid;
  border-width: 16px;
  border-color: transparent;
  -webkit-border-image: url(https://mirchar.ru/cnt/img/ui/borders/window_corners.png) 16 repeat;
  border-image: url(https://mirchar.ru/cnt/img/ui/borders/window_corners.png) 16 fill repeat;
}

.gwt-DecoratorPanel .UserBox {  
  padding-bottom: 2px;
}


.gwt-BorderedPopup .middleCenter {
  padding: 3px;
  background: #E6D2CA;
  z-index: 2;
  border-style: solid;
  border-width: 28px 16px 16px 18px;
  -webkit-border-image: url(https://mirchar.ru/cnt/img/ui/borders/tooltip.png) 28 17 16 15;
  border-image: url(https://mirchar.ru/cnt/img/ui/borders/tooltip.png) 28 17 16 15;
}


.gwt-BorderedTabPanel {
  background: #F9F0EC;  
  border-style: solid;
  border-width: 5px;
  -webkit-border-image: url(https://mirchar.ru/cnt/img/ui/borders/tabwindow.gif) 5;
  border-image: url(https://mirchar.ru/cnt/img/ui/borders/tabwindow.gif) 5;
}

.gwt-BorderedInnerPanel{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #DDAF9D;
  padding: 10px;
  display: inline-block;
}

.gwt-BorderedInnerPanel2{
  border-radius: 10px;  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #D8A26B;
  padding: 10px;
}

.UserBox {
  padding: 0px;
  height: 15px;
}

.UserBox-Input {
  border: 1px solid #9C7457;
  font-size: 10px;
}

.UserBox-Input-Button { 
  height: 25px;
}

/* ------------- CurrentDate--------------------- */
.CurrentDate {
  color: #9C7457;
  font-size: 14px;
  font-weight: 800;
}

/* -------------- GameItem ---------------------- */
.gameitem-image {
  border: 1px solid #804843;
}

.gameitem-image-outlined {
  outline: 1px solid #804843;
}

.ItemUIWrap {
  
}

.ItemUIWrap-Name {
  color: #804843;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.ItemUIWrap-Rarity {
  color: #804843;
  font-size: 10px;
  font-weight: 300;
  display: table;
  top: -3px;
  position: relative;
}

.middleCell { 
  display: table-cell;
  vertical-align: middle;
}

/* -------------- misc ---------------------- */

.EncPanel {
  overflow: visible;
}

.y-scroll {
  overflow-y: scroll;
}


/* --------------- TabPanel ----------------------*/

.gwt-BorderedTabBar {
}

.gwt-BorderedTabBar .gwt-TabBarFirst {
  width: 0px;  /* first tab distance from the left */
}

.gwt-BorderedTabBar .gwt-TabBarRest {
}

.gwt-BorderedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
  background: url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/tab_not_selected.png) no-repeat;
  height: 18px;
  width: 90px;
  font-size: 12px;
  padding-left: 7px;
  padding-top: 4px;
  cursor: pointer;
}

.gwt-BorderedTabBar .gwt-TabBarItem-selected {
  background: url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/tab_selected.png) no-repeat;
}


.gwt-BorderedTabBar .gwt-TabBarItem .topCenter {
  padding: 0px;
  background: url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/top.png) 0px -32px repeat-x;
}

.gwt-BorderedTabBar .gwt-TabBarItem .topLeft,
.gwt-BorderedTabBar .gwt-TabBarItem .topRight {
  padding: 0px;
  zoom: 1;
}

.gwt-BorderedTabBar .gwt-TabBarItem .topLeftInner,
.gwt-BorderedTabBar .gwt-TabBarItem .topRightInner {
  width: 6px;
  height: 6px;
}

.gwt-BorderedTabBar .gwt-TabBarItem .middleLeft,
.gwt-BorderedTabBar .gwt-TabBarItem .middleRight {
  width: 6px;
  padding: 0px;
  background: #e4e9f3 url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/top.png) repeat-x;
}

.gwt-BorderedTabBar .gwt-TabBarItem .middleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  text-align: center;
  background: #e4e9f3 url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/top.png) repeat-x;
}

.gwt-BorderedTabBar .gwt-TabBarItem-selected .topCenter {
  background: url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/bottom.png) 0px -38px repeat-x;
}

.gwt-BorderedTabBar .gwt-TabBarItem-selected .middleLeft,
.gwt-BorderedTabBar .gwt-TabBarItem-selected .middleRight {
  background: #92c1f0 url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/tab_selected.png) repeat-x;
}

.gwt-BorderedTabBar .gwt-TabBarItem-selected .middleCenter {
  cursor: default;
  background: #92c1f0 url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/tab_selected.png) repeat-x;
}

html>body .gwt-BorderedTabBar .gwt-TabBarItem .topLeft {
  background: url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/corners.png) no-repeat 0px -55px;
}

html>body .gwt-BorderedTabBar .gwt-TabBarItem .topRight {
  background: url(https://mirchar.ru/cnt/img/ui/borders/tabwindow/corners.png) no-repeat -6px -55px;
}

html>body .gwt-BorderedTabBar .gwt-TabBarItem-selected .topLeft {
  background-position: 0px -61px;
}

html>body .gwt-BorderedTabBar .gwt-TabBarItem-selected .topRight {
  background-position: -6px -61px;
}

* html .gwt-BorderedTabBar .gwt-TabBarItem .topLeftInner {
  width: 5px;
  height: 61px;
  margin-top: -55px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://mirchar.ru/cnt/img/ui/borders/tabwindow/corners.png',sizingMethod='crop');
}

* html .gwt-BorderedTabBar .gwt-TabBarItem .topRightInner {
  width: 12px;
  height: 61px;
  margin-top: -55px;
  margin-left: -6px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://mirchar.ru/cnt/img/ui/borders/tabwindow/corners.png',sizingMethod='crop');
}

* html .gwt-BorderedTabBar .gwt-TabBarItem-selected .topLeftInner {
  width: 5px;
  height: 67px;
  margin-top: -61px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://mirchar.ru/cnt/img/ui/borders/tabwindow/corners.png',sizingMethod='crop');
}

* html .gwt-BorderedTabBar .gwt-TabBarItem-selected .topRightInner {
  width: 12px;
  height: 67px;
  margin-top: -61px;
  margin-left: -6px;
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://mirchar.ru/cnt/img/ui/borders/tabwindow/corners.png',sizingMethod='crop');
}


.gwt-BorderedTabPanelBottom {
  /*border-color: #92c1f0;
  border-style: solid;
  border-width: 3px 2px 2px;*/
  overflow: hidden;
  /*padding: 6px;*/
}


/* ----------------- ListBox ---------------------*/

.gwt-ListBox {
    border: 1px solid #673939;
    font-family: Tahoma;
      font-size : 11;
      text-align : left;      
      color: #4E2929;   
}


.gwt-BorderedDialogBox{
  padding: 3px;
  z-index: 109;
  border-style: solid;
  border-width: 28px 16px 16px 18px;
  -webkit-border-image: url(https://mirchar.ru/cnt/img/ui/borders/tooltip.png) 28 17 16 15;
  border-image: url(https://mirchar.ru/cnt/img/ui/borders/tooltip.png) fill 28 17 16 15;
}

.gwt-ScrollBarRiffle-Bar{
  width: 10px;
  height: 26px;
  background: url(https://mirchar.ru/cnt/img/ui/scroll/bar.png) no-repeat 0px 0px;
}

.gwt-ScrollBarRiffle-Top {
  width: 13px;
  height: 21px;
  background: url(https://mirchar.ru/cnt/img/ui/scroll/top.png) no-repeat 0px 0px;
}

.gwt-ScrollBarRiffle-Bottom {
  width: 13px;
  height: 21px;
  background: url(https://mirchar.ru/cnt/img/ui/scroll/bottom.png) no-repeat 0px 0px;
}

.gwt-ScrollBarRiffle-Back {
  background: url(https://mirchar.ru/cnt/img/ui/scroll/back.png) repeat-y;
  /*height : 100%;*/  
}

.gwt-PaperScrollDisclosurePanel-disclosurePanel{
  width: 800px;
  /*background: url(https://mirchar.ru/cnt/img/ui/paperscroll/scroll_top.png) no-repeat;*/
}

.gwt-PaperScrollDisclosurePanel-disclosurePanel-open .header{
  background: url(https://mirchar.ru/cnt/img/ui/paperscroll/scroll_top.png) no-repeat;
  /*width: 792px;*/
  height: 61px;
}

.gwt-PaperScrollDisclosurePanel-disclosurePanel-closed .header{
  background: url(https://mirchar.ru/cnt/img/ui/paperscroll/scroll_rolled.png) no-repeat;
  /*width: 792px;*/
  height: 75px;
}

.gwt-PaperScrollDisclosurePanel-contentPanel{
  background: url(https://mirchar.ru/cnt/img/ui/paperscroll/scroll_repeat.png) repeat-y;
  padding-left: 60px;
  padding-right: 55px;
}

.gwt-PaperScrollDisclosurePanel-headerWidget{
  position: relative;
  left: 341px;
  top: 7;
  background-image: url(https://mirchar.ru/content/gameimages/ui/paperscroll/scroll_stamp.png);
}

.Tooltip {
  border: 1px solid #5C352C;
  background-color: #E6D2CA;
  padding: 3px;
  max-width: 200px;
}
/* -------------------------- Chat -------------------------------- */
.Bold {
  font-weight: bold;
}

.Italic {
  font-style: italic;
}

.TabSelectColor {
  border: 1px solid #000000;
  background-color: #FEE7B7;
}

.TabBackColor {
  border: 1px solid #000000;
  background-color: #FF9900;
}

.ChatLineSpace {
  line-height: 1.5;
}

.ChatText {
  color:  #351D17;
}

.ChatBack {
  border: 1px solid #000000;
  background-color:  #FF9900;
}

.gwt-ChatListBox {
    border: 1px solid #000000;
    font-family: Tahoma;
      font-size : 11;
      text-align : left;      
      color:  #351D17;
      background-color: #F9F0EC   
}

/* -------------------------- Equip -------------------------------- */

.top-layer{
  z-index: 9999999;
}

.back-layer{
  z-index: -1;
}  

.decor-panel {
    border: 1px solid black;
    margin: 5px;
}

.decor-panel-variant {
    border: 1px outset gray;
    margin: 3px;
    padding: 5px;
}

.training-button {
  font-family: Arial Black;
    font-size :10 ;
}

.equip-header-text {
  font-family: Arial Black;
    font-size :10 ;
    color: yellow;
}

/* -------------------------- creatureCabinet -------------------------------- */

.creaturecabinet{
  background-color : #ccffcc;
}

.creatureimage{
  border: 2px #673939;
  margin-bottom: 9px;
}

.minipetsname{
   font-family: Tahoma;
   font-size : 10;
   text-align : center;
   font-color: #673939;
}

.minipetsimg{
  margin-left: 18px;
    border: 2px solid #673939;
}

.minipetsdescr{
   font-family: Tahoma;
   font-size : 8;
   text-align : center;
}

.minipetsbtn{
   font-family: Tahoma;
   font-size : 6;
   text-align : center;
   font-color: #673939;
}

.minipets{
   border: 2px solid #673939;
}

.minipetspanel{
   border: 2px solid #673939;
}

.thingspanel{
  margin: 5px;
}

.pickthing{
   outline: 3px solid #FF1717;
}

.pickfavthing{
   border: 3px solid #FF1717;
}

.favthing{
   border: 4px solid #FF1717;
}

.headpanel{
  margin-top: 0px;
}

.creaturegrid{
  margin-left: auto;
  margin-right: auto;
}

.parametrsgrid{
  margin-left: 13;  
}

.biglabel{
   font-family: Tahoma;
   font-size : 18;
   font-weight: bold;
   text-align : left;
   color: #51292b;
   margin-top: 0px;
}

.blacklabel14{
   font-family: Tahoma;
   font-size : 14;
   font-weight: bold;
   text-align : center;
   color: black;
   margin-top: 0px;
}

.blacklabel16{
   font-family: Tahoma;
   font-size : 16;
   font-weight: bold;
   text-align : left;
   color: black;
   margin-top: 0px;
}


.biglabelcenter{
   font-family: Tahoma;
   font-size : 18;
   font-weight: bold;
   text-align : center;
   color: #51292b;
   margin-top: 0px;
   margin-bottom: 9px;
}

.datacenter{
   font-family: Tahoma;
   font-size : 11;
   text-align : center;
   top: 20px;
   color: #4E2929;    
}

.datacenterwithottop{
   font-family: Tahoma;
   font-size : 11;
   text-align : center;
   color: #4E2929;    
}

.labelcenter{
   font-family: Tahoma;
   font-size : 13;
   font-weight: bold;
   text-align : center;
   color: #4E2929;
   margin-bottom: 0;
   margin-top: 0;
}

.labelcenter14px{
   font-family: Tahoma;
   font-size : 14;
   font-weight: bold;
   text-align : center;
   color: #4E2929;
   margin-bottom: 8;
   margin-top: 5;
}

.labelcenterbottom{
   font-family: Tahoma;
   font-size : 13;
   font-weight: bold;
   text-align : center;
   color: #4E2929;
   margin-bottom: 5px;
}

.gridcenter{
  align-left: auto;
  align-right: auto;
}

.grid{
  align-left: auto;
  align-right: auto;
  align-top: 0;
  align-bottom: 0;
}

.caption{
   font-family: Tahoma;
   font-size : 12;
   text-align : center;
   color: #51292b;
   position: relative;
   top: -25px;
   height: 0px;
}

.data{
   font-family: Tahoma;
   font-size : 12;
   text-align : left;
   color: #51292b;
}

.commentinfo{
   font-family: Tahoma;
   font-size : 10;
   text-align : left;
   color: red;
}

.commentinfoshelter{
   font-family: Tahoma;
   font-size : 10;
   font-style: italic;
   text-align : justify;
   color: red;
   margin-bottom: 13;
   margin-left: auto;
   margin-right: auto;
}

.label{
   font-family: Tahoma;
   font-size : 13;
   font-weight: bold;
   text-align : left;
   color: #4E2929;     
}

.labelright5px{
   font-family: Tahoma;
   font-size : 13;
   font-weight: bold;
   text-align : left;
   color: #4E2929;   
   margin-bottom: 9px;   
   margin-right: 5px;  
}

.labelwithout13pxright5px{
   font-family: Tahoma;
   font-size : 13;
   font-weight: bold;
   text-align : left;
   color: #4E2929; 
   margin-right: 5px;  
}

.labelwithout13px{
   font-family: Tahoma;
   font-size : 13;
   font-weight: bold;
   text-align : left;
   color: #4E2929;   
}

.labelshelter{
   font-family: Tahoma;
   font-size : 13;
   font-weight: bold;
   text-align : justify;
   color: #4E2929;   
   margin-bottom: 13;
   margin-left: auto;
   margin-right: auto;
}

.label11{
   font-family: Tahoma;
   font-size : 11;
   text-align : left;
   color: #4E2929;   
}

.label11bold{
   font-family: Tahoma;
   font-size : 11;
   font-weight: bold;
   text-align : left;
   color: #4E2929;   
   margin: 0;
}

.labelshop{
   font-family: Tahoma;
   font-size : 13;
   font-weight: bold;
   text-align : left;
   color: #4E2929;   
   margin-left: 45px;
}

.nameshop{
   font-family: Tahoma;
   font-size : 13;   
   text-align : left;
   color: #4E2929;   
   margin-left: 13;
}

.labelsmall{
   font-family: Tahoma;
   font-size : 12;
   font-weight: bold;
   text-align : left;
   color: #4E2929;   
}

.labelsmallpersonal{
   font-family: Tahoma;
   font-size : 12;
   font-weight: bold;
   text-align : left;
   color: #4E2929;   
   margin-left: 8;
}

.redlabel{
   font-family: Tahoma;
   font-size : 15;
   font-weight: bold;
   text-align : center;
   color: red;   
}

.redlabel5pxleft{
   font-family: Tahoma;
   font-size : 13;
   font-weight: bold;
   text-align : center;
   color: red; 
   margin-left: 5;  
}

.windowtitle{
   font-family: Tahoma;
   font-size : 10;
   font-weight: bold;
   text-align : center;
   color: #51292b;   
   z-index: 3;
}

.transparentTitle{
  background: transparent;
  border: none;
}

.labellink{
   font-family: Tahoma;
   font-size : 12;
   font-weight: bold;
   text-align : left;
   color: #51292b;      
   cursor: default; 
   margin-bottom: 5;
   margin-left: 5;
}

.picklabel{
   font-family: Tahoma;
   font-size : 14;
   font-weight: bold;
   text-align : left;
   color: red;  
   cursor: default; 
}

.levelicon{
  margin-left: 13;
}
.image{
  margin-right: 9px;
  border: none;
  background: transparent;
}

.imagecenter{
  margin-left: 175px;
    border: 2px solid #673939;   
}

.iconcenter{
  margin-left: 175px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 9px;
    border: 1px solid #673939;   
}

.imageBorder{
    border: 2px solid #673939;   
    background: white;    
}

.imageBorder9pxBottom{
    border: 2px solid #673939;   
    background: white;   
    margin-bottom: 9px; 
}

.imageBorder9pxRight{
    border: 2px solid #673939;   
    background: white;   
    margin-right: 9px;  
}

.imageBorder13px{
    margin-left: 13px;
    margin-right: 13px;
}

.panelcenter{
  margin-left: auto;
  margin-right: auto;
}

.panelmargin13px{
  margin-left: 13px;
  margin-right: 13px;
}

.buttonspanelright{
  margin-top: 9;
  margin-left: auto;
  margin-right: 0;
}

.paneltop9px{
  margin-top: 9;
}

.minipetcenter{
  margin-left: 75px;
}

.paneltransparent{
  border: none;
  background: transparent;
}

.bubble{
  margin: 10;
}
.iconpanel{
  margin-left: 5px;
  margin-right: 5px;
}

.panelvertic{
  margin-bottom: 13px;
}
.panelup
{  
  margin-top: 0px;
  margin-left: 130px; 
  background: transparent;
}

.value
{   
  font-family: Tahoma;
    font-size : 13;
    text-align : left;
    color: #4E2929;   
}
.valuered
{   
  font-family: Tahoma;
    font-size : 13;
    text-align : left;
    color: red;   
}
.valuebold
{   
  font-family: Tahoma;
    font-size : 13;
    text-align : left;
    color: #4E2929;   
    font-weight: bold;
}
.valuebottombold
{   
  font-family: Tahoma;
    font-size : 13;
    text-align : left;
    color: #4E2929;   
    margin-bottom: 20; 
    font-weight: bold;
}
.valuebottom
{   
  font-family: Tahoma;
    font-size : 13;
    text-align : left;
    color: #4E2929;  
    margin-bottom: 20;      
}

.cellmargin {
  padding: 3px;
  }

.manavalue
{   
  font-family: Tahoma;
    font-size : 13;
    text-align : left;
    color: #4E2929;   
  margin-left: 3px; 
}
.center{
  text-align : center;
}
.iconborder{
    border: 1px solid #673939;      
}
.iconborder1{  
    margin-left: 160;
}
.iconborder2{   
    margin-left: 90;
}
.iconborder3{  
    margin-left: 50;
}
.iconborder4{  
    margin-left: 25;
}
.iconborder5{
    margin-left: 10;    
}

.smalleditbox {
    border: 1px solid #673939;
    font-family: Tahoma;
      font-size : 11;
      text-align : left;      
      color: #4E2929;   
      margin-left: 9px;
      margin-right: 20px;
}

.scroll{  
  scrollbar-face-color:#3D4AF0;
  scrollbar-highlight-color:#7B8DF9;
  scrollbar-3dlight-color:#7B8DF9;
  scrollbar-darkshadow-color:#2109D6;
  scrollbar-shadow-color:#2109D6;
  scrollbar-arrow-color:#7B8DF9;
  scrollbar-track-color:#7B8DF9;
}

.tablecenter{
  vertical-align: bottom;
  align: center;
  ALIGN: center;
  width: 100%;  
}

.tab-icon-cls{
  width: 88px;
  height: 24px;
  border: none;
  background-color: green;
  background-image: url(images/tabbed_window/tab_not_selected.png); 
  background-position: top left;  
}

.tab-panel-cls{
  background-color: transparent;
  margin-left: 10px;
  border-bottom-color: blue;
}

html, body {
  scrollbar-3dlight-color:#F9F0EC; 
  scrollbar-arrow-color:black;
  scrollbar-highlight-color: #F67E4DB;
  scrollbar-face-color:#F67E4DB;
  scrollbar-shadow-color:#F67E4DB;
  scrollbar-darkshadow-color:#F6E4DB; 
  scrollbar-track-color: #F9F0EC;
  
  height:100%;
  margin:0px;
  padding:0px;
  
  z-index: 1;
  
}

textarea {
  scrollbar-base-color:#F67E4DB; 

}

.textareaborder {
  border-width:0;
}

select {
  scrollbar-base-color:#F67E4DB; 
}


/* -------------------------- mainPage -------------------------------- */

.mainpanels-uppanel{
  position: relative; width: 1024px; height: 136px; top: 0; left: -94; margin: 0; overflow: visible;
}

.mainpanels-centerpanel{
  position: relative; width: 1024px; margin: 0; height: 0px;
}

.mainpanels-menupanel{
  position: relative; 
  top: 0; 
  left: 0; 
  margin: 0;
}

.mainpanels-bodypanel{
  position: relative; margin: 0; width: 868px; height: 0px; overflow: visible;
}

.newsdate{
    font: 12pt Arial;
    color: red;
}

.newstext {
    font: 12pt Arial;
    color: green;
}

.mainpagebox {
    border: 2px inset black ;
}

.safeItemDesc {
  max-height: 42px;
  overflow: hidden;
}


/* ------------------ upload -------------------------------- */

.GWTUpld {
  font-family: Verdana, Arial;
  font-size: 12px;
}
.GWTUpld form {
  padding-top: 5px;
}
.GWTUpld .upld-status {
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
}
.GWTUpld .upld-status div.cancel {
  background: url(https://mirchar.ru/cnt/img/ui/ico/disabled/ico_logout.gif) no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
}
.GWTUpld .upld-status div.cancel:hover {
  background: url(https://mirchar.ru/cnt/img/ui/ico/ico_logout.gif) no-repeat;
}
.GWTUpld .upld-status .filename {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 4px;
  margin-right: 10px;
  height: 100%;
}
.GWTUpld .upld-status .status {
  padding-left: 8px;
  white-space: nowrap;
  height: 100%;
}
.GWTUpld .upld-status .status-success {
  color: green;
}
.GWTUpld .upld-status .status-error,
.GWTUpld .upld-status .status-canceled {
  color: red;
}
.GWTUpld .prgbar-back {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #999999;
  height: 0.8em;
  overflow: hidden;
  padding: 1px;
  width: 100px;
  float: left;
}
.GWTUpld .prgbar-done {
  background: #d4e4ff none repeat scroll 0 0;
  font-size: 0;
  height: 100%;
  float: left;
}
.GWTUpld .prgbar-msg {
  z-index: 9;
  position: absolute;
  font-size: 9px;
  font-weight: normal;
  margin-left: 3px;
}
.GWTUpld .changed {
  color: red;
  font-weight: bold;  
  text-decoration: blink;
}
.gwt-PopupPanel .GWTUpld {
  border: 2px groove #F6A828;
  padding: 10px;
  background: beige;
  
    border-radius: 6px; 
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.gwt-FileUpload {
  font-size: 18px;
  color: #5C352C;
  font-weight: 700;
}

.ItemUIWrap-Inventory {

}

.ItemUIWrap-Inventory-Selected img {
  outline: 4px solid #804843;
}

.BigCreatureBorder {
  border: solid 2px #6b373b;
  background-color: white;
}

.SmallText1{
  font-size : 12px;
  color: #5C352C; 
  line-height: 111%;
  font-weight: normal;
}

.TextGlowy {
  padding-bottom: 10px; 
  color: white; 
  text-shadow: 0 0 8px #FFF8DE;
}

.SlowTransition { 
  -webkit-transition: 1s; 
  transition: 1s;
}

.SmallBoldText1 {
  font-size : 12px;
  color: #5C352C;
  font-weight: bold;
  line-height: 111%;
}

.SmallBoldDisText1 {
  font-size : 12px;
  color: #C4A787;
  font-weight: bold;
} 

.SmallTextArea {
  font-size : 12px;
  color: #5C352C;
  font-weight: 400;
  border: none;
  background: transparent;
  overflow: hidden;
}

.BigText1 {
  font-size : 18px;
  color: #5C352C;
  font-weight: 700;
}

.BigText2 {
  font-size : 26px;
  color: #5C352C;
  font-weight: 700;
}


.PaddingTop15{   
  padding-top : 15;
}

.paddingStandart{   
  padding: 10px;
}

.NormalText1 {
  font-size :14px;
  color: #5C352C;
}

.MiddleText1 {
  font-size :15px;
  color: #5C352C;
  font-weight: bold;
}

.gwt-ClickableListBox{
  font-size :14px;
  color: #804843;
}

.StandartTextInput{
  border: 1px solid #9C7457;
  font-size : 18px;
  height : 25px;
  overflow: hidden;
}


.SmallTextInput{
  border: 1px solid #9C7457;  
  height : 18px;
  font-size : 11px;
  color: #5C352C;
  font-weight: 400;
  overflow: hidden;
}

.SmallInputTextArea {
  border: 0px;  
  height : 18px;
  font-size : 11px;
  color: #5C352C;
  font-weight: 400;
  overflow: hidden;
}

.BigTextInput{
  border: 1px solid #9C7457;
  font-size : 17px;
  color: #5C352C;
  font-weight: 700;
  height: 22;
}

.Inventory-ActionLabel{   
  padding-top : 7 ;
  width: 100%;
}

.safe_item_description{   
  font-size :12 ;
}

.CreatureSelectVariant{
  border: solid 1px #5B2C22 ;
  background-color: #F9EFED;
  color: #5C352C;
  width: 180px;
  padding: 4;
}

.CreatureSelectVariant:hover{
  background-color: #DEAF9D;
}

/* DisclosurePanel header overrider */
.header {
  margin: 0px;
}

.CursorPointer{
  cursor : pointer;
}

.CursorWait{
  cursor: wait;
}

.OnePixBorder{
  border: solid 1px black;
  padding: 3px;
}

.Highlighted{
  background-color: #EEDAD1;
}

.ButtonText {
  font-size : 13px;
  position: absolute;
  top: 3px;
  left: 0px;
  vertical-align: middle;
  color: #FFCCCC;
  font-weight: bold;
}

.ButtonText-h {
  color: #FFFFFF;
  text-shadow: 0 0 15px #EEBE0E;
}

.ButtonText-d {
  color: #C3C3C3;
}


.input2box{
            width: 20;
}

.input4box{
            width: 40;
}

.testLabelBad{
            color: red;
}

.testLabelGood{
            color: green;
}

.secondarytext{
    font: 10pt Arial;
    color: #999999;
}

root { 
    display: block;
}

.activecreature{
  height :100 ;
  width :100 ;
  cursor: default;
}

.paneltext{
  font-family: Arial Black;
  font-size :12 ;
  color : maroon;
  text-align : center;
  cursor: default;
}

.creaturesnames{
  cursor: default;
  background-color: lightsteelblue;
}

.creaturename{
  background-color: yellow;
}

.tutorialHighlight{ 
    -webkit-transition: box-shadow 3s linear; 
    transition: box-shadow 3s linear;
}

.roundedBubble{
  border-radius: 22px;  
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
}

.MarkerStart{ 
 -webkit-transition: box-shadow 3s linear; 
 transition: box-shadow 3s linear;
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 1);
}

.MarkerFinish{ 
 -webkit-transition: box-shadow 3s linear; 
 transition: box-shadow 3s linear;
    box-shadow: 0 0 50px 50px rgba(255, 255, 255, 1);
}

.gwt-PopupPanelGlass{
  background-color: black;
  color: black;
  display: block;
  opacity: 0;
  position: absolute;
  visibility: visible; 
 -webkit-transition: opacity 5s linear; 
 transition: opacity 5s linear;
 z-index: 1;
}

.crop { 
  overflow:hidden; 
  text-overflow:ellipsis; 
  max-width: 600px;
}

.flipX{ 
  -webkit-transform: scaleX(-1); 
  transform: scaleX(-1);        
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);  
  -ms-filter: fliph;
  filter: fliph;
}

.flipY{ 
  -webkit-transform: scaleY(-1); 
  transform: scaleY(-1);   
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);  
  -ms-filter: flipv;
  filter: flipv;
}

.guideFloat{
  position: absolute;
  animation-name: guideAnimation;
  -webkit-animation-name: guideAnimation;
  -moz-animation-name: guideAnimation;
  -ms-animation-name: guideAnimation;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  /*animation-play-state: running;
  animation-fill-mode: forwards;*/
}

@keyframes guideAnimation {
  0% {
    top: -8px;
  }
  
  100% {
    top: 8px;
  }
}

@-webkit-keyframes guideAnimation {
  0% {
    top: -8px;
  }
  100% {
    top: 8px;
  }
}
@-ms-keyframes guideAnimation {
  0% {
    top: -8px;
  }
  
  100% {
    top: 8px;
  }
}


.textButton:hover {
  color: #FFFFFF;
  text-shadow: 0 0 15px #EEBE0E;
}

.textButton{
  color: #FFCCCC;
  -webkit-transition: all .5s;
          transition: all .5s;
  overflow: hidden;
}

.textButton_disabled {
  color: #C3C3C3;
}

.textButton0:hover {
  background-image: url(https://mirchar.ru/cnt/img/ui/btn_back_0_h.gif);
}

.textButton0 {
  background-image: url(https://mirchar.ru/cnt/img/ui/btn_back_0.gif);
}

.textButton0_disabled { 
  background-image: url(https://mirchar.ru/cnt/img/ui/btn_back_0_d.gif);
}

.textButton1:hover {
  background-image: url(https://mirchar.ru/cnt/img/ui/btn_back_1_h.gif);
}

.textButton1 {
  background-image: url(https://mirchar.ru/cnt/img/ui/btn_back_1.gif);
}

.textButton1_disabled { 
  background-image: url(https://mirchar.ru/cnt/img/ui/btn_back_1_d.gif);
}

.textButton2:hover {
  background-image: url(https://mirchar.ru/cnt/img/ui/btn_back_2_h.gif);
}

.textButton2 {
  background-image: url(https://mirchar.ru/cnt/img/ui/btn_back_2.gif);
}

.textButton2_disabled {
  background-image: url(https://mirchar.ru/cnt/img/ui/btn_back_2_d.gif);
}

.textButtonText {
  font-size : 13px;
  position: relative;
  top: 3px;
  left: 0px;
  vertical-align: middle; 
  font-weight: bold;
  color: #FFF4F4;
}

.menuImageButton {
  overflow: hidden;
  height: 26px;
}

.flexColumnCentered {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
      -ms-flex-align: center; 
          align-items: center; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex;
}

.flexRow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;  
  display: -webkit-box;   
  display: -webkit-flex;  
  display: -ms-flexbox;   
  display: flex;
}

.lastChatMessage {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #000000;
  height: 16px;
  overflow: hidden;
  width: 650px;
}

.chatClosePanel {
  width: 200px;
  height: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;  
  display: -webkit-box;   
  display: -webkit-flex;  
  display: -ms-flexbox;   
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.locationToolbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;  
  display: -webkit-box;   
  display: -webkit-flex;  
  display: -ms-flexbox;   
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.displayInline {
	display: inline-block;
}

.checkroomIFrame {
	width: 844px;
	height: 585px;	
	margin: -13px;
	padding-bottom: 20px;
}

.mwFrame {
	position: relative;
  	left: -7px;
  	top: -8px;
}

.mwFrameContainer {
	overflow: hidden;
	width: 799px;
	height: 334px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 9px solid #000000;
}

.itemPanelText {
	overflow: hidden;
	margin-left: 10px; 
}

.justifyContentCenter {
	justify-content: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center;	
}

.flexShrink0 {
	flex-shrink: 0; -webkit-flex-shrink: 0; -ms-flex-negative: 0;
}

.alignItemsCenter {
	align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center;
}

.justifyContentSpaceAround {
	justify-content: space-around; -webkit-box-pack: space-around; -webkit-justify-content: space-around; -ms-flex-pack: space-around;
}

.justifyContentSpaceBetween {
	justify-content: space-between; -webkit-box-pack: space-between; -webkit-justify-content: space-between; -ms-flex-pack: space-between;
}

.encPanelFixator {
	position: absolute;
    right: -23px;
    top: -14px;
    opacity: 0.6;
}

.topBannerHolder {
    position: absolute;
    left: 272px;
    top: 8px;
}

.topBannerHolder > div {
    position: absolute;
}

#socreg_form {
	min-height: 260px !important;
}

.buttonsPanel > div {
    display: inline-block;
    margin: 0 5px 5px 0;
}

.itemsPanel > div {
    display: inline;
    padding: 0 8px 8px 0;
}

.imageScroll {
    overflow: hidden !important;
}
.imageScroll > div > div {
    padding-bottom: 16px;
}
.messagesPanel > *:nth-child(even) {
    background-color: rgba(221, 175, 157, 0.26);
}
.messagesPanel img {
    max-height: 200px;
}
.conversationDeleteButton {
    position: absolute;
    right: 19px;
    top: 13px;
    cursor: pointer;
}
.messageDeleteButton {
    position: absolute;
    right: 7px;
    top: 24px;
    cursor: pointer;
}
.messagesLoadingImage {
    position: absolute;
    left: 201px;
    top: 98px;
}
.myrating {
    font-size: 11px;
}